body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.panel {
  background: #FFF;
  width: 24rem;
  position: relative;
  margin: 0 auto;
  margin-top: 1.25rem;
  border-radius: 0.25rem;
}

.panel .panel-heading {
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  padding: 0 0.75rem;
}

.panel .panel-heading h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.025em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0.75rem 0;
}

.panel .panel-body {
  padding: 0.75rem;
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.input-wrapper label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
}

.input-wrapper input {
  padding: 0.5rem 0.75rem;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid rgb(203 213 225);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.input-wrapper input:focus {
  border-color: #24292f;
  outline-color: #24292f;
}

.text-red {
  color: rgb(239 68 68);
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.submit-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #24292f;
  color: #FFF;
  border: 0px;
  padding: 0.5rem 0.75rem;
	font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.025em;
  border-radius: 0.25rem;
}